*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

#question {
  padding-bottom: 1em; /*Q*/
}

#image-container {
  /* stretch to fill the rest of the flexbox */
  flex: auto;
  position: relative;
}

#image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  gap: 1em;
  height: 100%;
  max-height: 67vh;
}

#image-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1em solid black;
  border-radius: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img:hover {
  cursor: pointer;
}

.correct {
  outline: 5px solid green;
}

.incorrect {
  outline: 5px solid darkred;
}

#prevent-interaction {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.eval {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 2px;
  box-shadow: grey;
  padding: 1em;
  text-align: center;
}

#again {
  margin-top: 1rem;
  font-size: 1rem;
}

#again:hover {
  cursor: pointer;
}

[x-cloak] { display: none !important; }
