@import url(https://fonts.bunny.net/css?family=akaya-kanadaka:400|alata:400|albert-sans:300|amarante:400|antic:400);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
 
/* font-family: 'Alata', sans-serif; */
font-family: 'Albert Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
}

button {
  font-family: 'Albert Sans', sans-serif;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

#choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

#choice a {
  padding: 0.5rem;
  position: relative;
}

#choice img {
  height: 200px;
  width: 255px;
}

#choice span {
  position: absolute;
  left: 8%;
  top: 65%;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  color: rgb(255, 237, 214);
  margin: 0.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

#question {
  padding-bottom: 1em; /*Q*/
}

#image-container {
  /* stretch to fill the rest of the flexbox */
  flex: auto;
  position: relative;
}

#image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  gap: 1em;
  height: 100%;
  max-height: 67vh;
}

#image-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1em solid black;
  border-radius: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img:hover {
  cursor: pointer;
}

.correct {
  outline: 5px solid green;
}

.incorrect {
  outline: 5px solid darkred;
}

#prevent-interaction {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.eval {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 2px;
  box-shadow: grey;
  padding: 1em;
  text-align: center;
}

#choice-again {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: white; */
}

#choice-again a {
  padding: 0.5rem;
  position: relative;
}

#choice-again img {
  width: 6rem;
}

#choice-again span {
  position: absolute;
  left: 8%;
  top: 55%;
  /* font-size: 2rem; */
  font-weight: bold;
  text-align: start;
  color: rgb(255, 237, 214);
  margin: 0.5rem;
}

[x-cloak] { display: none !important; }
