<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <script src="static/main.js" type="module"></script>
  <title>AnimalQuiz</title>
</head>

<body>
  <div 
    x-cloak 
    id="switch-class"
    x-data="{ animalclass: $store.data.animalclass }"
  >
  <!-- only the link should be shown that leads to the quiz with the other animal class, not the one being played at the moment -->
  <!-- I tried various versions of x-show and x-if in various places but they seem to do either nothing (x-show) or the opposite thing (x-if - img does not show on load but appears and stays there)-->
    
    <a x-show="animalclass !== 'mammals'" href="quiz?animalclass=mammals">
      <img src="static/images/pexels-ivan-cujic-2265247-small.jpg">
    </a>
    <a x-show="animalclass !== 'birds'" href="quiz?animalclass=birds">
      <img x-show="animalclass !== 'birds'" src="static/images/pexels-tim-mossholder-1618424-small.jpg">
    </a>
  </div>

  <h1>Animal Quiz</h1>
  <div 
    id="container" 
    x-data="{ 
      data: $store.data,      
      isLatin: !$store.data.target.hasCommonName,
      hasApostrophe: $store.data.target.label.match(/'|’/)    
    }"     
  >    
    <div
      id="question"
      x-cloak
    >
      Which of the pictures shows (something related to) 
      <span
        x-text="(isLatin || hasApostrophe ? '' : ' the ') + data.target.label"
        :style="isLatin && 'font-style: italic'"
      >
      </span>?
    </div>
    <div id="image-container">
      <div id="image-grid">
        <template x-for="animal, index in data.info" :key="index">
          <div>
            <img 
              :src="animal.image_url"
              :class="animal.evaluate"
              @click="
                data.answerStatus = animal.label === data.target.label;
                if (data.answerStatus === false) {
                  setTimeout(() => data.answerStatus = undefined, 1000);
                }
                animal.evaluate = data.answerStatus ? 'correct' : 'incorrect'"
            >
          </img>
          </div>
        </template>
      </div>
    </div>

    <div
      x-cloak 
      class="eval"
      x-show="data.answerStatus === false"
      @click="data.answerStatus = null"
    >
      Try again!
    </div>

    <div 
      x-cloak
      id="prevent-interaction" 
      x-show="data.answerStatus === true">
      <div 
        class="eval"
      >
        That's correct!
        <br>
        You can find more information on
        <span 
          x-text="(isLatin || hasApostrophe ? '' : ' the ') + data.target.label"
          :style="isLatin && 'font-style: italic'"
        >
        </span>
        <a target="_blank" :href="data.target.wiki_url || 'https://www.ecosia.org/search?method=index&q=' + data.target.label">here</a>.
        <br>
        <br>
        Play again:
        <div id="choice-again">
          <a href="quiz?animalclass=mammals">
            <img src="static/images/pexels-ivan-cujic-2265247-small.jpg">
            <span>Mammals</span>
          </a>
          <a href="quiz?animalclass=birds">
            <img src="static/images/pexels-tim-mossholder-1618424-small.jpg">
            <span>Birds</span>
          </a>
        </div>
      </div>
    </div>
  </div>
 
</body>

</html>

